{% extends "layout.html" %}

{% block content %}
<main>
  <div class="container">
    <div class="section-content">
      <h2>Discover places near you.</h2>


      {% if session['email'] %}
      <a href="{{ url_for("home") }}" class="btn-primary">Home</a>
      {% else  %}
      <a href="{{ url_for("signup") }}" class="btn-primary">Sign up</a>
      {% endif %}

      <a href="{{ url_for("about") }}" class="btn-secondary">Learn more</a>

    </div>

    <div class="section-device">
      <img src="static/img/device.png">
    </div>

  </div>
</main>
{% endblock %}
