<!DOCTYPE html>
<html>
  <head>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600' rel='stylesheet'>
    <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet" >

    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.css" />
    <script src="http://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.js"></script>
    <link rel="shortcut icon" href="static/img/littlemap.ico" type="image/x-icon">
  </head>
  <body>
    <header>
      <div class="container">
        <h1 class="title"><a href="{{ url_for("index") }}">Learning Flask</a></h1>
        {% if session['email'] %}
        <a href="{{ url_for("logout") }}" class="btn-log btn-secondary">Log Out</a>
        {% else  %}
        <a href="{{ url_for("login") }}" class="btn-log btn-secondary">Log In</a>
        {% endif %}
      </div>
    </header>

    {% block content %}
    {% endblock %}

  </body>
</html>
